---
import { Facebook, Instagram, Linkedin, Menu } from "react-feather";
import { LINK_PAGE, SOCIAL_MEDIA, URL_LOGO } from "../services/constantes";
import Image from "astro/components/Image.astro";
interface Props {
  socialMedia?: Element[];
  urls?: string[];
  logoUrl?: string;
}
const {
  socialMedia = [Facebook, Instagram, Linkedin],
  urls = LINK_PAGE,
  logoUrl = URL_LOGO,
} = Astro.props;
---

<header class="sticky top-0 z-50 bg-white shadow-md">
  <div class="flex justify-between md:justify-evenly p-4">
    <!-- logo -->
    <a
      href="/"
      title="Centro Comercial Rosedal"
      aria-label="logo principal de el sitio web del centro comercial rosedal"
    >
      <Image
        loading="eager"
        height={50}
        width={250}
        class="w-24 lg:w-62 h-8 sm:h-12"
        src={logoUrl}
        alt="logo de la pagina web provisional"
      />
    </a>
    <!-- menu para mobiles -->
    <nav class="lg:hidden flex items-center">
      <button class="rounded bg-slate-400/20 px-2 py-1 cursor-pointer">
        <Menu className="text-primary size-6" />
      </button>
    </nav>
    <!-- menu inicial -->
    <ul
      class="hidden lg:flex items-center justify-center gap-8 list-none text-lg sm:text-xl font-semibold"
    >
      {
        urls &&
          urls.map((enlace) => (
            <li>
              <a
                class="capitalize hover:text-primary transition duration-300"
                href={`#${enlace.toLowerCase().trim().replaceAll(" ", "-")}`}
                title={enlace.toUpperCase()[0] + enlace.slice(1)}
              >
                {enlace}
              </a>
            </li>
          ))
      }
    </ul>
    <!-- botones de redes -->
    <div
      class="flex items-center justify-center gap-2.5 lg:gap-6 list-none *:ring *:md:ring-2 *:ring-green-500 *:rounded-full"
    >
      {
        socialMedia &&
          socialMedia.map((MyIcon: any, i: number) => (
            <a
              title={SOCIAL_MEDIA[i]}
              name={SOCIAL_MEDIA[i]}
              aria-label={`Enlace a ${SOCIAL_MEDIA[i]}`}
              aria-labelledby="Enlace para las redes sociales"
              class="group hover:bg-transparent transition duration-300 bg-green-500 p-0.5 sm:p-1"
              href={SOCIAL_MEDIA[i].toLowerCase()}
            >
              {
                <MyIcon
                  className="text-white fill-green-500 group-hover:text-green-500 group-hover:fill-white size-6 p-1 sm:p-0.5 transition duration-200"
                  strokeWidth={2}
                />
              }
            </a>
          ))
      }
    </div>
  </div>
</header>
