---
import { AdvancedImage } from "@cloudinary/react";
import { cld } from "@services/cloudinary";
import { Gift } from "react-feather";
import Carousel from "../components/Carousel";
import FondoBg from "../components/FondoBg.astro";
import LogoRosedal from "../assets/LogoRosedal.astro";
import type { objetosSlides } from "@type/global";

interface Props {
    images: objetosSlides;
}
const { images } = Astro.props;
---

<!-- animación para el texto que aparece hacia abajo -->
<style>
    .animation-go-text {
        animation: animationText 1s ease;
    }
    @keyframes animationText {
        0% {
            opacity: 0;
            transform: translateY(-90px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>

<!-- primer carousel -->
<section class="relative">
    <div class="bg-green-500">
        <div class="bg-zinc-100 h-45 md:h-[85dvh]">
            <Carousel
                type="img"
                slides={images}
                visibleSlides={1}
                classImg="size-full object-contain"
                autoSlide
                visiblePoints
                client:visible
            />
        </div>

        <article class="py-2 px-4">
            <h2
                id="promociones"
                class="animation-go-text text-4xl text-white font-medium capitalize text-center mb-20 mt-14"
            >
                <strong class="font-semibold">almacenes repletos</strong>
                de novedades para ti
            </h2>
        </article>
    </div>

    <article
        class="absolute w-fit bg-zinc-900 shadow rounded-4xl rounded-bl px-6 py-4 -bottom-6 left-0 right-0 mx-auto flex justify-center items-center gap-2"
    >
        <span class="text-2xl text-white text-center font-bold">
            Consigue tus obsequios
        </span>
        <Gift className="text-white size-6 hidden sm:block ms-1" />
    </article>
</section>
<!-- locales principales -->
<section class="mt-16">
    <article class="p-4 text-center">
        <h2 class="text-4xl font-light mb-4">
            <b class="font-semibold tracking-wider"> Explora nuestros</b>
            almacenes
        </h2>
    </article>
    <section
        class="p-8 grid w-full mx-auto place-content-center grid-cols-1 lg:grid-cols-3 gap-4 justify-center"
    >
        <!-- cards de locales principales -->
        {
            images
                .concat(images)
                .slice(0, 3)
                .map(({ url, alt, local }) => (
                    <article class="group/link border border-zinc-300 shadow rounded-2xl mx-auto min-w-xs px-8 py-4">
                        <a
                            href={
                                alt.toLowerCase().trim().replaceAll(" ", "-") +
                                `-${local}`
                            }
                            class="group-hover/link:scale-105 transition duration-300 overflow-hidden flex rounded-2xl select-none w-fit mx-auto"
                        >
                            <AdvancedImage
                                width={200}
                                height={200}
                                loading="lazy"
                                cldImg={cld.image(url)}
                                alt={alt}
                                class="h-44 w-auto aspect-video  md:w-full object-cover"
                            />
                        </a>
                        <div class="mt-4 text-center drop-shadow-xl drop-shadow-zinc-900/30">
                            <h3 class="text-2xl font-semibold tracking-wide">
                                {alt}
                            </h3>
                            <a
                                href={
                                    alt
                                        .toLowerCase()
                                        .trim()
                                        .replaceAll(" ", "-") + `-${local}`
                                }
                                class="underline text-lg text-zinc-700 hover:text-green-500  transition duration-200"
                            >
                                Ir a conocer mas.
                            </a>
                        </div>
                    </article>
                ))
        }
    </section>
</section>
<!-- algunos locales -->
<section class="m-8 rounded-4xl z-10 bg-green-500 p-8 overflow-hidden relative">
    <FondoBg position="-bottom-16 left-3 " />
    <h3
        class="text-3xl sm:text-4xl font-normal text-pretty text-center text-white tracking-wider xl:px-8 px-0 mb-14"
    >
        Descubre nuestra <strong class="font-semibold"
            >extensa colección
        </strong> de productos
    </h3>

    <div class="flex items-center flex-col lg:flex-row gap-6 sm:pb-0">
        <Carousel
            type="img"
            style="rounded-2xl order-2 sm:order-1 w-full"
            chevronClass="size-6 md:size-8 block btn-effect hover:stroke-zinc-300 backdrop-blur-md bg-green-500 text-white rounded-xl hover:stroke-green-500 transition duration-300"
            classImg="bg-white object-contain aspect-square rounded-2xl p-4"
            slides={images.slice(3)}
            autoSlide
            visiblePoints
            client:visible
        />
        <article
            class="mx-auto hidden order-1 sm:order-2 select-none md:ms-auto bg-white p-8 rounded-full lg:grid place-content-center aspect-square md:my-auto"
        >
            <LogoRosedal fill="black" size={200} />
        </article>
    </div>
    <p class="sr-only" id="locales"></p>
</section>
