---
import { IMAGES } from "../services/constantes.js";

import { Gift } from "react-feather";
import Carousel from "../components/Carousel";

import Image from "astro/components/Image.astro";
import { vi } from "../services/constantes.js";
import LogoRosedal from "../assets/LogoRosedal.astro";
import FondoBg from "../components/FondoBg.astro";
---

<!-- animación para el texto que aparece hacia abajo -->
<style>
    .animation-go-text {
        animation: animationText 1s ease;
    }
    @keyframes animationText {
        0% {
            opacity: 0;
            transform: translateY(-90px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>

<!-- primer carousel -->
<section class="relative">
    <div class="bg-green-500">
        <div class="h-45 md:h-[85dvh]">
            <Carousel
                type="img"
                slides={IMAGES}
                visibleSlides={1}
                autoSlide
                visiblePoints
                client:visible
            />
        </div>

        <article class="py-2 px-4">
            <h2
                id="promociones"
                class="animation-go-text text-4xl text-white font-medium capitalize text-center mb-20 mt-14"
            >
                <strong class="font-semibold">almacenes repletos</strong>
                de novedades para ti
            </h2>
        </article>
    </div>

    <article
        class="absolute w-fit bg-zinc-900 shadow rounded-4xl rounded-bl px-6 py-4 -bottom-6 left-0 right-0 mx-auto flex justify-center items-center gap-2"
    >
        <span class="text-2xl text-white text-center font-bold">
            Consigue tus obsequios
        </span>
        <Gift className="text-white size-6 hidden sm:block ms-1" />
    </article>
</section>
<!-- locales principales -->
<section class="mt-16">
    <article class="p-4 text-center">
        <h2 class="text-4xl font-light mb-4">
            <b class="font-semibold tracking-wider"> Explora nuestros</b>
            almacenes
        </h2>
    </article>
    <section
        class="p-8 grid w-full mx-auto items-center grid-cols-1 lg:grid-cols-3 gap-4 justify-evenly"
    >
        <!-- cards de locales principales -->
        {
            IMAGES.concat(IMAGES)
                .slice(0, 3)
                .map(({ slug, url, alt }) => (
                    <article>
                        <a
                            href={slug}
                            class=" group/link shadow overflow-hidden flex rounded-2xl drop-shadow-xl sm:drop-shadow-none md:drop-shadow-xl drop-shadow-zinc-900/30 w-fit mx-auto"
                        >
                            <Image
                                width={200}
                                height={200}
                                loading="lazy"
                                src={url}
                                alt={alt}
                                class="h-44 w-auto aspect-video  md:w-full object-cover"
                            />
                        </a>
                        <div class="mt-4 text-center drop-shadow-xl drop-shadow-zinc-900/30">
                            <h3 class="text-2xl font-semibold tracking-wide">
                                Lorem ipsum dolor sit
                            </h3>
                            <a
                                href={slug}
                                class="underline text-lg text-zinc-700 hover:text-green-500  transition duration-200"
                            >
                                Ir a conocer mas.
                            </a>
                        </div>
                    </article>
                ))
        }
    </section>
</section>
<!-- algunos locales -->
<section
    class="m-8 rounded-tl-[130px_130px] z-10 rounded bg-green-500 rounded-br-[130px_130px] p-8 md:p-16 space-y-12 overflow-hidden relative"
>
    <FondoBg />
    <h3
        class="sm:block text-4xl font-normal text-pretty text-center text-white tracking-wider xl:px-6 px-0 hidden"
    >
        Manejamos <strong class="font-semibold">gran variedad</strong> en productos
    </h3>

    <div class="flex items-center flex-col lg:flex-row gap-6 py-6 sm:pb-0">
        <Carousel
            type="mp4"
            style="rounded-2xl order-2 sm:order-1 "
            slides={vi}
            autoSlide
            visiblePoints
            client:visible
        />
        <article
            class="mx-auto order-1 sm:order-2 select-none md:ms-auto bg-white p-2 rounded-full grid place-content-center size-36 md:my-auto"
        >
            <LogoRosedal fill="black" size={120} />
        </article>
    </div>
</section>
