---
import { ExternalLink, Gift } from "react-feather";
import Carousel from "../components/Carousel";
import { IMAGES, URL_LOGO } from "../services/constantes.js";
import Slide from "../components/Slide";
import videoMp4 from "../assets/videos/videosCarousel.mp4";
import Image from "astro/components/Image.astro";
---

<style>
    .animation-go-text {
        animation: animationText 1s ease;
    }
    @keyframes animationText {
        0% {
            opacity: 0;
            transform: translateY(-90px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>
<main>
    <!-- carousel -->
    <section class="relative">
        <article class="bg-green-500">
            <Carousel autoSlide slides={IMAGES} client:visible />
            <article class="py-2 px-4">
                <h2
                    class="animation-go-text text-4xl text-white font-medium capitalize text-center mb-20 mt-16"
                >
                    Descubre nuestros <strong class="font-semibold"
                        >almacenes repletos</strong
                    >
                    de novedades para ti.
                </h2>
            </article>
        </article>

        <article
            class="absolute w-fit bg-zinc-900 shadow rounded-4xl rounded-bl px-6 py-4 -bottom-6 left-0 right-0 mx-auto flex justify-center items-center gap-2"
        >
            <span class="text-2xl text-white text-center font-bold">
                Consigue tus obsequios
            </span>
            <Gift className="text-white size-6 hidden sm:block ms-1" />
        </article>
    </section>
    <!-- locales principales -->
    <section class="mt-16">
        <article class="p-4 text-center">
            <h2 class="text-4xl font-light mb-4">
                <b class="font-semibold tracking-wider"> Explora nuestros</b> principales
                almacenes
            </h2>
        </article>
        <section
            class="p-4 grid max-w-4xl mx-auto grid-cols-1 md:grid-cols-3 gap-6"
        >
            {
                IMAGES.concat(IMAGES)
                    .slice(0, 3)
                    .map((img) => (
                        <div>
                            <a
                                href={img.slug}
                                class=" group/link shadow overflow-hidden relative flex rounded-2xl drop-shadow-xl sm:drop-shadow-none md:drop-shadow-xl drop-shadow-zinc-900/30 w-fit mx-auto"
                            >
                                <img
                                    src={img.url}
                                    alt={img.alt}
                                    class="h-44 w-auto aspect-video  md:w-full object-cover"
                                />
                                <i class="absolute top-4 right-4 text-white bg-zinc-700/70 group-hover/link:bg-zinc-700/80 transition-colors duration-300 cursor-pointer shadow px-2 py-1.5 rounded-xl flex justify-center items-center">
                                    <ExternalLink className=" size-6" />
                                </i>
                            </a>
                            <article class="mt-4 text-center drop-shadow-xl drop-shadow-zinc-900/30">
                                <h3 class="text-2xl font-semibold tracking-wide">
                                    Lorem ipsum dolor sit
                                </h3>
                                <a href={img.slug} class="underline text-lg">
                                    Ir a conocer mas.
                                </a>
                            </article>
                        </div>
                    ))
            }
        </section>
    </section>
    <!-- algunos locales -->
    <section class="mt-14 py-12 rounded-tl-[230px_130px] bg-green-500 px-4">
        <h3
            class="mb-2 p-4 ps-10 text-4xl font-normal text-pretty text-center text-white tracking-wider"
        >
            Manejamos <strong class="font-semibold">gran variedad</strong> en productos
        </h3>

        <div class="mt-6 flex flex-col lg:flex-row gap-8 p-4">
            <Slide
                videoMp4s={[
                    { url: videoMp4, alt: "primer video de la semana" },
                    { url: videoMp4, alt: "primer video de la semana" },
                    { url: videoMp4, alt: "primer video de la semana" },
                    { url: videoMp4, alt: "primer video de la semana" },
                    { url: videoMp4, alt: "primer video de la semana" },
                    { url: videoMp4, alt: "primer video de la semana" },
                ]}
                client:visible
            />
            <article
                class="ms-auto bg-white p-2 rounded-full grid place-content-center size-50 my-auto"
            >
                <Image
                    width={200}
                    height={200}
                    loading="lazy"
                    src={URL_LOGO || "/image.webp"}
                    alt="imagen de la entrara del centro comercial"
                    class="aspect-auto w-64"
                />
            </article>
        </div>
    </section>
</main>
